 <div>
   <div class="header">
    <h2>Lista de libros</h2>
    <div class="row">
   </div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input #filter matInput placeholder="Ex. id" >
      </mat-form-field>

      <button mat-raised-button color="primary" [routerLink]="['../form/new']"  >Nuevo Libro</button>
 
   </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
   </div>

    <!-- Title Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrición </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Excepto Column -->
    <ng-container matColumnDef="excerpt">
      <th mat-header-cell *matHeaderCellDef> Excepto </th>
      <td mat-cell *matCellDef="let element"> {{element.excerpt}} </td>
    </ng-container>

    <!-- pageCount Column -->
    <ng-container matColumnDef="pageCount">
      <th mat-header-cell *matHeaderCellDef> Recuento de páginas </th>
      <td mat-cell *matCellDef="let element"> {{element.pageCount}} </td>
    </ng-container>

    <!-- pageCount Column -->
    <ng-container matColumnDef="publishDate">
      <th mat-header-cell *matHeaderCellDef> Dia de publicación </th>
      <td mat-cell *matCellDef="let element"> {{element.publishDate | date : 'dd/MM/yyyy'}} </td>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
          <div class="row">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                  (click)="$event.stopPropagation()">
                  <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="delete" (click)="deteteBook(element.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                  </button>
                  <button mat-menu-item aria-label="edit" [routerLink]="'../form/' + element.id">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                  </button>
              </mat-menu>
          </div>
      </mat-cell>
  </ng-container>


  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  
</div>
